@charset "utf-8";
/* CSS Document */

body{
	color: #333333;
	}
#male_stuff{
	margin-left:3%;
	margin-top: 3%;
	}
.instruction{
	margin-bottom:10px;
	}
.img-m1{
	width:10%;
	}

	
.top{
	border-bottom:1px solid #000;
	}
.top span{
	font-size:30px;
	}
.box{
	margin-left:300px;
	padding-left:50px;
	}


		
			
.row1{
	margin-right:10px;
	}
	
.sex{
	border-bottom: 1px solid #999;
padding-top: 5px;
	}
.sex h1{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size:20px;
	}
.sex ul li a{
   text-decoration: none;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size:18px;
	}	
.sex ul li  {
    list-style: none;
    text-decoration: none;
}


.style{
	border-bottom: 1px solid #999;
	}
.style h2{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size:20px;
	}
.style ul li a{
	   text-decoration: none;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
		font-size:18px;
	}
.style ul li{
	 list-style: none;
    text-decoration: none;
	}
	
	
.uses{
	border-bottom: 1px solid #999;
	}
.uses h3{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size:20px;
	}
.uses ul li a{
	  text-decoration: none;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size:18px;
	}
.uses ul li{
	 list-style: none;
    text-decoration: none;
	}
	

.color h4{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size:20px;
	}
.color ul li a{
	   text-decoration: none;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
		font-size:18px;
	}
.color ul li{
	 list-style: none;
    text-decoration: none;
	}

.row1{
	height: 100%; 
	background-color: lavender;
	}
	
.row2:hover {
	background-color: lavender;
	border-radius: 20px;
}
	
 
	 
	.img-m2{
	 height : 200px;
	 width: 200px;
	 }
	 
	 
.row2{
	/*border:1px solid red; */
	}
	 
.blacksb a{
	list-style:none;
	text-decoration:none;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size:20px;
	text-align:center;
	}
	
.blacksb {
	text-align:center;
}


.row5{
	border:1px solid black; 
	height:30px; 
	background-color: black;
	border-radius:20px;
	text-align:center;
	
}

.row5:hover {
	background-color:#666;
	transition: all 0.4s;
	
}

.row5 a {
	text-transform:uppercase;
	color: white;
	text-decoration:none;
}

.row6{
	padding-top:10px;
	height:40px; 
	text-align:center;
}

.row6 a  {
	color: black;
	text-decoration:none;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.choice1{
	margin-right:5px;
	background: #fff;
    color: #333333;
    border-radius:3px;
    box-shadow: 1px 1px 0px #999;
    font-weight: bold;
    font-size: 12px;
   }

.number{
	background: #fff;
    color: #333333;
    border-radius:3px;
    box-shadow: 1px 1px 0px #999;
    font-weight: bold;
    font-size: 12px;
	margin:3px;
	}

.choice2{
	margin-left:5px;
	background: #fff;
    color: #333333;
    border-radius:3px;
    box-shadow: 1px 1px 0px #999;
    font-weight: bold;
    font-size: 12px;
	}
	
.row {
	margin-right:0px;
}


@media screen and (max-width: 736px){
	.row2{
		text-align:center;
		border-bottom: 1px solid #999;
	}
	.img2{
		margin-top:5px;
		}
	.row0{
		margin-top:10px;
		display:inline-block;
	}
	.filter-price{
		width:200px;
	}
	
	.filter-item{
		width:200px;
	}
	.row1{
		text-align:center;
	}
	
	}


@media screen and (max-width: 1024px){
	}
		
	
	
	
	
	

